
src/my-train/__pycache__/

src/my-train/optimized_prompts.jsonl

src/my-train/optimized_prompts_llama2_7b_res.jsonl

.claude/

src/__pycache__/

src/hf-cache/model

*.png

*.jsonl

*.json

trick.txt

src/dolly_vicuna

src/report

src/results_pretrain

src/run_code.txt

src/save_results

src/self_instruction_llama

src/self_instruction_vicuna

src/tmp

src/vicuna-llama

src/vicuna-vicuna

src/llama_vs_vicuna/
src/verify_response/
src/verify_winner/

src/key.txt
src/key_all.txt

*.env
*venv

!src/testset/vicuna_eval.jsonl
!src/testset/

src/mepo/api.txt

*data_processing.py
*demo_experiment.json
*demo_experiment.txt
*demo_output.json

src/analysis/
src/evaluation/downstream/
src/evaluation/embeddinggemma-300m
src/rbpo_mepo/
src/downstream/demo/
src/testset/dataset_process.py
*.parquet
*piqa.py
demo.json

.gitignore
processing.py
doc/

*test.py